.container {
  margin: 3rem;
  padding: 3rem;

  .d3 {
    align-self: center;
    margin: 0 auto;
    width: 60%;

    &.d3__chart {
      width: 20%;
      align-items: center;
      margin: 0 auto;
      padding-top: 1.2rem;
    }
  }

  @media (max-width: 1240px) {
    margin: 10px;
    width: 90%;
    padding: 15px;

    .d3 {
      width: 90%;

      .d3__chart #chart {
        width: max-content;
      }
    }
  }
}
