.container {
  margin: 15px auto;
  padding: 15px auto;

  @media (max-width: 1240px) {
    margin: 10px auto;
    width: 100%;
    padding: 10px auto;
  }
}

.d3 {
  align-self: center;
  margin: 0 auto;
  width: 100vw;
  display: flex;
  flex-direction: column;

  #{&}__heading {
    width: 40%;
    align-items: center;
    text-align: center;
    font-size: medium;
    font-weight: bold;
    margin: 0 auto;
    padding-bottom: 1.2rem;
  }

  #{&}__chart {
    width: 30%;
    align-items: center;
    text-align: center;
    font-size: medium;
    font-weight: bold;
    margin: 0 auto;
    padding-top: 3rem;
  }

  @media (max-width: 1240px) {
    width: 100%;

    #{&}__heading {
      margin: 0.5rem auto;
      padding-top: 1rem;
      width: 200px;
    }

    #{&}__chart {
      width: 100%;
      align-items: center;
      text-align: center;
      font-size: medium;
      font-weight: bold;
      margin: 0 auto;
      padding-top: 1rem;
    }
  }
}
